@charset "UTF-8";
/**
 * @author Yannick Blanchet courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/** Normalize **/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/**** UTILITAIRES ****/
/** Variables **/
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
@font-face {
  font-family: "EB Garamond", serif;
  src: url("../fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
}
/** Palette de couleurs **/
/* Couleurs de base */
/* Autres couleurs */
/** Points de rupture **/
/** Mixins **/
/**
* @author Ève Février - efevrier@cegep-ste-foy.qc.ca
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */
/********** Utilitaires de base **********/
/** Box sizing **/
/* Clearfix */
/********* Accessibilité *********/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/******** Typographie *********/
/****** BASE ******/
/** Typographie **/
/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/
/**** Typographie responsive ****/
html {
  font-size: 62.5%;
}

body {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  font-size: 1.6pxrem;
  line-height: 1.375; /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}
h1,
.titreNiveau1,
h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

h1,
.titreNiveau1 {
  font-size: 28px;
  font-size: 2.8pxrem;
  margin: 0;
}
h1--desktop,
.titreNiveau1--desktop {
  font-size: 48px;
  font-size: 4.8pxrem;
  padding-bottom: 15px;
  position: relative;
}
h1--desktop:after,
.titreNiveau1--desktop:after {
  background-color: #111;
  content: "";
  display: inline-block;
  width: 150px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h2,
.titreNiveau2 {
  font-size: 20px;
  font-size: 2pxrem;
  text-transform: uppercase;
}
h2--desktop,
.titreNiveau2--desktop {
  font-size: 28px;
  font-size: 2.8pxrem;
}

h3,
.titreNiveau3 {
  font-size: 18px;
  font-size: 1.8pxrem;
}
h3--desktop,
.titreNiveau3--desktop {
  font-size: 22px;
  font-size: 2.2pxrem;
}

.texte {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6pxrem;
  line-height: 1.375;
}
.texte--desktop {
  line-height: 1.5;
}

/** Hyperliens **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.hyperlien {
  color: #EDE0D0;
  text-decoration: none;
}
.hyperlien--visited {
  color: rgb(229.9384615385, 211.8384615385, 189.5615384615);
}
.hyperlien--hover {
  color: rgb(208.7538461538, 175.3538461538, 134.2461538462);
  text-decoration: underline;
}
.hyperlien--active {
  color: #EFA646;
  text-decoration: underline;
}

/** Boutons **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.bouton {
  background-color: #333;
  border-radius: 18px;
  color: black;
  padding: 0.5em 1em;
  text-decoration: none;
}
.bouton:after {
  content: "»";
  margin-left: 0.4em;
}
.bouton--hover {
  background-color: rgba(51, 51, 51, 0.75);
}
.bouton--active {
  background-color: rgba(51, 51, 51, 0.5);
}
.bouton--inverse {
  background-color: white;
  border: 2px solid #333;
}
.bouton--inverse--hover {
  border-color: rgba(51, 51, 51, 0.75);
}
.bouton--inverse--active {
  border-color: rgba(51, 51, 51, 0.5);
}

/****** LAYOUT ******/
/** Styles généraux de mise en page**/
* {
  box-sizing: border-box;
}

body {
  margin: 0 10px;
  padding: 0;
  font: 0.8em Verdana, Arial, Helvetica, sans-serif;
}

.contenu {
  max-width: 960px;
  margin: 0 auto;
}

.page {
  float: left;
  width: 100%;
}
@media only screen and (max-width: 735px) {
  .page {
    float: none;
    width: 100%;
    border-bottom: 1px solid #333;
  }
}

/****** MODULES ******/
/** entête de page **/
/* Entete de page */
.entete {
  max-width: 960px;
  margin: 0 auto;
  background-color: #4B4032;
  border-bottom: 1px solid #323;
}
.entete__titre {
  margin: 0;
  padding: 10px;
}
.entete__slogan {
  margin: 0;
  padding: 10px;
}

/** navigation **/
.navigation {
  max-width: 960px;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}
.navigation ul {
  list-style: none;
  margin: 10px 0 10px 10px;
  padding: 0;
}
.navigation li {
  display: inline-block;
  margin-right: 2px;
}

.navigation__secondaire {
  max-width: 960px;
  margin: 0 auto;
}
.navigation__secondaire ul {
  list-style: none;
  margin: 10px 0 10px 10px;
  padding: 0;
}
.navigation__secondaire li {
  display: inline-block;
  margin-right: 2px;
}

/** pied de page **/
/*pied de page*/
.piedDePage {
  max-width: 960px;
  margin: 0 auto;
  background-color: #eee;
  border-top: 1px solid #333;
  clear: both;
}
.piedDePage h2 {
  margin: 0;
  padding: 10px;
  font-size: 1em;
}

/** article WP **/
.article {
  border-bottom: 1px dotted #333;
  padding-right: 8px;
  margin-bottom: 10px;
}
.article__entete {
  background-color: #eee;
}

/** barres latérales  optionnelles**/
/** pages **/
.page_volets-culturels {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
